
<script type="text/javascript">
$(document).ready(function(){
    var k = $("header").height();
    $("#myNav").affix({
        offset: { 
            top: k 
        }
    });
    $("#myNav").on('affixed.bs.affix', function(){
        
    });
});
</script>
<style type="text/css">
    /* Custom Styles */
   
    #save ul.nav-tabs{
        width: 240px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    #save ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    #save ul.nav-tabs li:first-child{
        border-top: none;
    }
    #save ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    #save ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    #save ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    #save ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    #save ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }

</style>

<header class="intro-header" style="background-image: url('<%= asset_path("Untitled.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class = "head">Большой <%=link_to "FAQ&rarr;".html_safe, faq_path %></a></h1>
                        <hr class="small">
                        <span class="subheading">о Красноярской летней школе</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<body data-spy="scroll" data-target="#myScrollspy">
<div class="container">

<div class="row">
        <div id = "save">
        <div class=" col-md-3 hidden-sm hidden-xs" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li class="active"><a href="#section-1">Что такое КЛШ?</a></li>
                <li><a href="#section-2">Структура КЛШ</a></li>
                <li><a href="#section-3">Учебные направления</a></li>  
                <li><a href="#section-4">Мероприятия</a></li>
                              
            </ul>
        </div>
        </div>

<section id="content" class="col-md-9 col-sm-12 col-xs-12">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="">Для всех</a></li>
        <li role="presentation" ><a href="">Для родителей</a></li>
        <li role="presentation" ><a href="">Для учителей</a></li>
        <li role="presentation" ><a href="">Для администрации</a></li>
    </ul>
    <article id="section-1">
    <h2>Что такое КЛШ</h2>
    <p>Каждое лето около двухсот школьников из Красноярского края и других частей России собираются
на три недели в лагере недалеко от Красноярска. <br> <br>
Красноярская летняя школа была задумана и впервые проведена в 1976 году группой молодых
преподавателей Красноярского госуниверситета. Внешне похожая на уже существовавшие на тот
момент выездные школы, она разительно отличалась от них идеей, лежавшей в ее основе.
Основная цель КЛШ — привлечение школьников старших классов, интересующихся естественно-научными и гуманитарными предметами, к более серьезным занятиям наукой посредством создания среды интенсивного интеллектуального общения. Важнейший результат уже 40-летней деятельности КЛШ — создание общности квалифицированных педагогов: ученых, преподавателей, студентов с глубокой гуманистической ориентацией. КЛШ быстро
переросла рамки региональной и с восьмидесятых годов прошлого века является одной из самых
известных летних школ страны. <br><br>
В настоящее время КЛШ проходит с середины июля по начало августа в лагере «Орбита» недалеко
от г. Железногорска. Содержательную часть школы разрабатывают и осуществляют около 60
преподавателей и студентов ведущих университетов России и мира. Многие из них выпускники
КЛШ. <br><br>
И школьники, и сотрудники попадают в школу на конкурсной основе. Первые должны
продемонстрировать хорошие знания школьной программы по нескольким предметам. Для сотрудников ситуация более жёсткая: чтобы попасть в КЛШ, претендент должен
быть не только профессионалом в своей области, но и интересным и развитым человеком вообще,
уметь продуктивно работать по 16 часов в сутки в течение трёх недель и, разумеется, любить детей.
Обычно сотрудники КЛШ работают в школе бесплатно.</p>
        <section id="concept"><h3>Концепция </h3><p>Красноярская летняя школа скоротечна, и длится всего три недели. За эти три недели школьник
сталкивается с огромным количеством новой информации, и наивно было бы думать, что всю ее
можно понять, осознать и усвоить. Поэтому хотя мы и стараемся дать школьникам систематические
научные знания, это все же не является нашей главной целью. Вместо этого мы демонстрируем
школьникам, как живут и мыслят люди, занимающиеся наукой, и что нужно делать, чтобы это
занятие хорошо удавалось. Девиз КЛШ — «Каждый день, каждый час, всегда — работай над
собой!» Понятие работы над собой в летней школе является ключевым. Таким образом, наша цель
— показать, чего можно достичь посредством такой работы.</p></section>
    </article>
    <br />
    <article id="section-2">
        <h2>Структура КЛШ</h2>
        <p>Школьник, решивший поехать в КЛШ, может выбрать одно из четырех предметных направлений:
<ul>
<li>направление точных наук, где изучается математика, физика и информатика;</li> <br>
<li>направление естественных наук, где изучается биология, химия и медицина;</li> <br>
<li>направление общественных наук, где изучается история, экономика и юриспруденция;</li> <br>
<li>направление филологических наук, где изучается филология, лингвистика и журналистика.</li></ul><p>
        <section id="course"><H3>Курсы</H3><p>В начале сезона школьники решают, какие именно курсы они хотят посещать. Обычный день КЛШ
включает в себя три учебных пары по полтора часа, во время которых школьник слушает курсы
выбранного направления, и факультатив ­— <br>50-­минутное вечернее занятие, проходящее раз в два дня.
За три недели школьник может прослушать на каждой паре либо один «сквозной» курс, длящийся
весь сезон (14 занятий), либо два модульных, по 7 занятий каждый.</p></section>
        <section id="facult"><h3>Факультативы</h3><p>Факультативные курсы, вопреки названию, тоже являются обязательными — каждый школьник в
начале сезона должен выбрать один факультатив. В отличие от учебных курсов, на факультативы не
накладываются рамки выбранного школьником направления. Это означает, что школьник,
например, точного направления сможет посещать факультатив по биологии. Факультативы часто
представляют собой небольшие исследовательские проекты, например, численное моделирование
физических процессов, разработка и сборка простого электронного устройства, экологические
исследования с использованием методов аналитической химии, экономические игры и т. д. По
итогам работы на факультативе или курсе школьник может сделать доклад на научно­-практической
конференции, проходящей в конце сезона.</p></section>
        <section id="comand"><h3>Команды</h3><p>В КЛШ школьники живут командами примерно по 10 человек. С каждой командой работают двое
или трое вожатых, отвечающих за все аспекты жизни своих подопечных. Вожатые одновременно
являются ведущими учебных курсов. Однако команды обычно не соответствуют по составу
предметным отделениям, что даёт возможность взаимодействовать на протяжении летней школы с гораздо
большим количеством людей.</p></section>
      </article>
    <br />  
         <article id="section-3">
     <h2>Учебные направления</h2>
     <section id="ntn"><h3>Направление точных наук</h3><p>
     Самое большое и старое направление летней школы, ведущее свою историю со дня ее основания.
Курсы по математике и физике, читаемые на этом направлении,
обычно затрагивают вопросы, лежащие за рамками школьной программы. Лекции читаются
студентами и преподавателями ведущих институтов России и мира:
Stony Brook Univ. (Нью­-Йорк), Texas A&M Univ. (Остин), Radboud Univ. (Нидерланды), МГУ,
МФТИ, СПбГУ и др. Многие знаменитые ученые, среди которых Б. В. Гнеденко, Б. В. Шабат и Ю. В. Матиясевич, в разные годы были лекторами направления точных наук.
         </p>
     </section>
     <section id="nen"><h3>Направление естественных наук</h3><p>
    Второе по старшинству и численности направление. Наиболее практическое из всех направлений
летней школы: здесь школьникам предлагаются не только лекции, но и большое
количество практикумов по различным разделам химии и биологии, на которых школьники могут
самостоятельно вскрыть мышку или понюхать медный купорос. Среди сотрудников 
направления естественных наук -­ студенты и преподаватели МГУ и СПбГУ, а также университетов
Испании, Германии и Швейцарии.
         </p>
     </section>
       <section id="non"><h3>Направление общественных наук</h3><p>
    Кроме курсов по праву, истории и экономике на этом направлении преподается еще и
математика, без которой сейчас не обходится ни одно серьезное социологическое или
экономическое исследование. Самое красноярское направление летней школы ­- его сотрудники
в основном учатся и работают в СФУ, хотя представлены и другие университеты,
например, НИУ ВШЭ и НГУ.
         </p>
     </section>
      <section id="nfn"><h3>Направление филологических наук</h3><p>
   Самое молодое направление летней школы, стремительно набирающее популярность как среди
школьников, так и среди лекторов. Курсы по литературоведению, филологии, лингвистике и
журналистике отличаются большим разнообразием ­- каждый курс на этом направлении длится не
весь сезон, а половину, что дает школьникам возможность посмотреть на эти дисциплины с разных
точек зрения.
         </p>
     </section>
     </article>
     <br />
    <article id="section-4">
        <h2>Мероприятия</h2>
        <section id="turnir"><H3>Турниры</H3><p>Неотъемлемой частью учебного процесса в КЛШ являются различные турниры. На физмат­-турнире
(ФМТ) школьники состязаются в математических играх и решении различных задач по математике
и физике, гуманитарный турнир дает им возможность попробовать себя в качестве ораторов,
поучаствовать в дебатах и проверить свое знание истории, филологии, экономики и права, а в
рамках биохим­-турнира школьники ставят химические или биологические эксперименты. Также в
течение всего сезона проходит турнир задач дня — побеждает в нем та команда, которая решила
больше всего задач из специальных комплектов, выдаваемых каждый день. Наконец, в праздничные
дни проходит несколько общешкольных игр: <br> физмат­-биатлон, физмат­-хоккей, комплексный
научный турнир и ботанические игры.</p></section>        
        <section id="prazd"><H3>Праздники</H3><p>Кроме обычных учебных дней, в летней школе существуют и праздничные. Три праздника
посвящены отдельным направлениям (День точных наук, ЭкоФилЮр и БиоХим), а еще один, Игры
доброй воли, — спортивным состязаниям. В дни направлений школьники слушают
научно­популярные лекции специально приглашенных ученых и участвуют в общешкольных
турнирах и командных квестах, а на Играх доброй воли соревнуются с сотрудниками в различных
видах спорта.</p></section>        
        <section id="razvl"><H3>Развлечения</H3><p>Вечером в летней школе открываются различные студии, на которых желающие могут играть в
настольные игры, петь песни, заниматься футболом, волейболом и другими видами спорта, плести
фенечки или строить катапульту. <br>В это же время проводится Вечерний клуб, где сотрудники
рассказывают о своих любимых произведениях искусства — музыке, фильмах, поэзии и живописи.
Можно и просто общаться — во время студий лекторы обычно собираются за самоваром, к
которому приглашают всех желающих послушать новости из мира науки и рассказы о дальних
странах.</p></section>        
     </article>
     

</section>  
</div><!-- end of row -->

</div><!-- end of container -->
