<style>

</style>
<% provide(:title, 'Контакты') %>
<header class="intro-header" style="background-image: url('<%= asset_path("contacts2.jpg")%>')">
        <div class="container">
            <div class="row">
                  <div class="  " style ="padding:50px; color: white;" >  
                  <br><br>
                    <div class="col-md-4">   
                    <address>
                    <strong>Телефон дирекции КЛШ</strong><br>
                    8-923-317-02-80<br><br><br>
                    </address>
                    <address>
                    <strong>Директор</strong><br>
                    Диана Казакова, <br>lingva@m-k-style.ru<br><br><br>
                    </address>
                    <address>
                    <strong>Зам. директора<br>   по учебной части </strong><br>
                    Михаил Георгиевич Садовский, <br>sadovsky.mikhail@gmail.com<br>
                    </address>
                    </div>
                    <div class="col-md-4">  
                    </div>
                     <div class="col-md-4">  
                    <address>
                    
                    <strong>Начальники направлений</strong><br>
                    <ul>
                    <li>точное<br> Влада Бурмак, <br>lada-burmak@yandex.ru<br><br></li>
                    <li>естественное <br>Артём Благодатский, <br>bswin2000@gmail.com<br><br></li>
                    <li>общественное <br>Анастасия Муравьёва, <br>muravieva1@mail.ru<br><br></li>
                    <li>филологическое <br>Станислав Шарифуллин, <br>hmotobox@gmail.com<br><br></li>
                    </ul>
                    </address>
	                   </div>
									</div>   
                </div>
            </div>
        </div>
    </header>


