<% provide(:title, 'Контакты') %>
<header class="intro-header" style="background-image: url('<%= asset_path("home-bg.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading subheading" style ="padding:50px">  
                  <p>Чтобы связаться с нами, вам следует оказаться на платформе
										9 и три четверти. :-)
									</p>
									<address>
  									<strong>Twitter, Inc.</strong><br>
  									795 Folsom Ave, Suite 600<br>
  									San Francisco, CA 94107<br>
  									<abbr title="Phone">P:</abbr> (123) 456-7890
									</address>
 
									<address>
  									<strong>Full Name</strong><br>
  									<p>first.last@gmail.com</p>
									</address>
									</div> 
                </div>
            </div>
        </div>
    </header>
