



    <header class="intro-header" style="background-image: url('<%= asset_path("Untitled.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><%= days_left_to_klsh%> <%= get_numending(days_left_to_klsh)%></h1>
                        <hr class="small">
                        <span class="subheading"><%= get_stayed(days_left_to_klsh)%> до начала нового сезона</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
      <li class="dropdown active">
          <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">НТН<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
            <li class=""><a href="#t2013" tabindex="-1" data-toggle="tab">2013</a></li>
            <li class=""><a href="#t2012" tabindex="-1" data-toggle="tab">2012</a></li>
            <li class=""><a href="#t2011" tabindex="-1" data-toggle="tab">2011</a></li>
            <li class=""><a href="#t2010" tabindex="-1" data-toggle="tab">2010</a></li>
          </ul>
        </li>
      <li class="dropdown active">
          <a href="#" id="myTabDrop2" class="dropdown-toggle" data-toggle="dropdown">НЕН <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
            <li class=""><a href="#e2013" tabindex="-1" data-toggle="tab">2013</a></li>
            <li class=""><a href="#e2012" tabindex="-1" data-toggle="tab">2012</a></li>
            <li class=""><a href="#e2011" tabindex="-1" data-toggle="tab">2011</a></li>
            <li class=""><a href="#e2010" tabindex="-1" data-toggle="tab">2010</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" id="myTabDrop3" class="dropdown-toggle" data-toggle="dropdown">НОН<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3">
            <li class=""><a href="#ob2013" tabindex="-1" data-toggle="tab">2013</a></li>
            <li class=""><a href="#ob2012" tabindex="-1" data-toggle="tab">2012</a></li>
            <li class=""><a href="#ob2011" tabindex="-1" data-toggle="tab">2011</a></li>
            <li class=""><a href="#ob2010" tabindex="-1" data-toggle="tab">2010</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" id="myTabDrop4" class="dropdown-toggle" data-toggle="dropdown">НФН <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop4">
            <li class=""><a href="#f2013" tabindex="-1" data-toggle="tab">2013</a></li>
            <li class=""><a href="#f2012" tabindex="-1" data-toggle="tab">2012</a></li>
            <li class=""><a href="#f2011" tabindex="-1" data-toggle="tab">2011</a></li>
            <li class=""><a href="#f2010" tabindex="-1" data-toggle="tab">2010</a></li>
          </ul>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="t2013">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXMXlFNUF5NTNVRFU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Антон Шейкин</h4>
          <p class="list-group-item-text">Гиперкомплексные числа</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZmlHUlVraXNzOGs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Борис Демешев</h4>
          <p class="list-group-item-text">Теория вероятностей</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXcXRsc2tlYnJVSm8&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Иван Адо</h4>
          <p class="list-group-item-text">НПЛ на день НТН</p>
          <p class="list-group-item-text">Теорема Гёделя о неполноте</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXX01hbC1uMTRjNWM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Иван Карлов</h4>
          <p class="list-group-item-text">Фрактальная геометрия</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXeVU3WlE3Mmlncms&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Ильдар Хисамбеев</h4>
          <p class="list-group-item-text">Теория множеств</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdjNYdl96SFZOMlE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Кирилл Павленко</h4>
          <p class="list-group-item-text">курс "Проектирование и анализ алгоритмов"</p>
          <p class="list-group-item-text">факультатив "Небесная механика"</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdnYxUVpHSUkyTzQ&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Никита Астраханцев</h4>
          <p class="list-group-item-text">Ряды и элементы анализа</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXSlNFRjlmSVZTSzA&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Саша Абанов</h4>
          <p class="list-group-item-text">курс "Размерности и оценки"</p>
          <p class="list-group-item-text">лекция "Math of shoe laces"</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXVTJSMElRN3BSQUk&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Сергей Ламзин</h4>
          <p class="list-group-item-text">Аналитическая геометрия и линейная алгебра</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXek9YbThQb0U0Z3c&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Сергей Малясов</h4>
          <p class="list-group-item-text">Python для физиков</p>
           </a>
        </div>
      </div>
      <div class="tab-pane fade" id="t2012">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXQ3hOS3owQ2E2dEE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Антон Шейкин</h4>
          <p class="list-group-item-text">Симметрия физических законов</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXT05kOHRkamE3UWs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Артём Абанов</h4>
          <p class="list-group-item-text">Механика вращений</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXcWVQcWNTQmtIeFE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Борис Демешев</h4>
          <p class="list-group-item-text">НПЛ "Теорема Гёделя о неполноте"</p>
          <p class="list-group-item-text">Теория чисел</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXX1p1TjlLZlZ5ZkE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Иван Адо</h4>
          <p class="list-group-item-text">курс "Числовые множества"</p>
          <p class="list-group-item-text">НПЛ о простой музыкальной шкале</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXWjA4cUtuZlVOb00&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Иван Карлов</h4>
          <p class="list-group-item-text">Нечёткая логика</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXeHd1QnY2TkxDQWM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Никита Астраханцев</h4>
          <p class="list-group-item-text">Специальная теория относительности</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXaGVoYndsRF84ZUE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Олег Золотов</h4>
          <p class="list-group-item-text">Оптика</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXU2J5dE5vaXVaRW8&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Саша Абанов</h4>
          <p class="list-group-item-text">курс "Геометрии"</p>
          <p class="list-group-item-text">курс "Узлы и косы"</p>
          <p class="list-group-item-text">НПЛ "Нелинейная физика в классическом и квантовом мирах"</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZHFfaGgwQ3prNkE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Сергей Малясов</h4>
          <p class="list-group-item-text">курс "Введение в суперкомпьютеры"</p>
          <p class="list-group-item-text">НПЛ "Не верь глазам своим или о восприятии информации"</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXSklPNTBHNWlqaFk&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Филипп Барон</h4>
          <p class="list-group-item-text">НПЛ "Наноэлектроника"</p>
          <p class="list-group-item-text">курс "Вариационное исчисление"</p>
           </a>
        </div>
      </div>
      <div class="tab-pane fade" id="t2011">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXeGFBWWVXRDV0NFU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Антон Власов</h4>
          <p class="list-group-item-text">Аэродинамика</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXXzZrTkpNSk5tREU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Борис Демешев</h4>
          <p class="list-group-item-text">Теория игр</p>
          <p class="list-group-item-text">Площади, объёмы</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUEFOYnoyWHhxN0U&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Влад Козлов</h4>
          <p class="list-group-item-text">Искусство схемотехники</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXamhBZUYwd0x4eE0&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Дима Черноус</h4>
          <p class="list-group-item-text">Криптографические основы безопасности</p>
          <p class="list-group-item-text">Объектно-ориентированный анализ и проектирование</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUHpGTlM4QW5YQlE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Женя Буровский</h4>
          <p class="list-group-item-text">НПЛ "Ultracold atoms: emulating high-temperature superconductors, neutron stars, and more"</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXNWVfZk5sUjdtaHc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Максим Мусин</h4>
          <p class="list-group-item-text">курс "Вероятность"</p>
          <p class="list-group-item-text">курс "Криптография"</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUXJ5X2ZUbzgxVnM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Мариам Даутова</h4>
          <p class="list-group-item-text">Сумма конечная и бесконечная</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXckRHOGRLX3NlRVU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Никита Астраханцев</h4>
          <p class="list-group-item-text">Компьютерное моделирование физических процессов</p>
           </a>
        </div>
      </div>
      <div class="tab-pane fade" id="t2010">
          <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXbXRGOC12VnlXZDQ&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Алексей Савватеев</h4>
          <p class="list-group-item-text">Теория игр</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXWV9kX1hoSVZ2aWs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Алексей Федотов</h4>
          <p class="list-group-item-text">Crypting Writings</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXN3B1R09INVRwcms&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Андрей Минарский</h4>
          <p class="list-group-item-text">Начала тепловой и молекулярной физики</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXWUNMYl9LUzZCbWs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Виктория Луковская</h4>
          <p class="list-group-item-text">Теория графов</p>
          <p class="list-group-item-text">Матрицы</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXLXhiT3hreC1UV0k&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Денис Шпаков</h4>
          <p class="list-group-item-text">Введение в специальную теорию относительности</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZjNoQXk5Q09VU0k&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Андрей Заболотский, Иван Харитонов</h4>
          <p class="list-group-item-text">Фракталы</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXNU5CWHB5THpCN3M&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Максим Мусин</h4>
          <p class="list-group-item-text">Greasemonkey</p>
           </a>
            <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdC1KRWFOWmdscms&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Максим Мусин</h4>
          <p class="list-group-item-text">факультатив "Вероятность"</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXSkRrNWRKRy1PX28&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Максим Щербаков</h4>
          <p class="list-group-item-text">Высшая математика</p>
           </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXNVFPVnlUbzFpQk0&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Саша Абанов</h4>
          <p class="list-group-item-text">Комплексные числа</p>
          </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXSDZQNUdXZGJjY2M&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Саша Абанов</h4>
          <p class="list-group-item-text">Космография</p>
          </a>
        </div>
      </div>
      <div class="tab-pane fade" id="e2013">
       <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZ25SWEJMcmFHOGc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Артём Благодатский</h4>
          <p class="list-group-item-text">курс лекций</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXcEVsa2I4NW96bGs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Ксюша Малышевская</h4>
          <p class="list-group-item-text">Курица или яйцо</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXb3FQdDI2ZVBRcGs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Марина Полонская</h4>
          <p class="list-group-item-text">курс "Биология рака"</p>
          <p class="list-group-item-text">НПЛ "История человечества как история эпидемий"</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXWVgwZzI3M04tTjQ&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Саша Сегинёв</h4>
          <p class="list-group-item-text">Органическая химия</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXQldTc3ZsQzdJRHM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Юлия Ослонович</h4>
        <p class="list-group-item-text">Химия поверхностей</p>
           </a>
        </div>
      </div>
      <div class="tab-pane fade" id="e2012">
       <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXMTMzYjdnTGtVMVk&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Артём Благодатский</h4>
          <p class="list-group-item-text">Токсины</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXSnczMWVnRHBQNkU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Марго Меер</h4>
          <p class="list-group-item-text">курс "Вирусология"</p>
          <p class="list-group-item-text">курс "Паразиты"</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXY1FQbG8tU0pTZ00&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Марина Полонская</h4>
          <p class="list-group-item-text">НПЛ "Хорошие, плохие, ужасные"</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXV0pjUW9Vb3pyalU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Юля Галлингер</h4>
          <p class="list-group-item-text">НПЛ "NO &mdash; молекула жизни"</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="e2011">
      </div>
      <div class="tab-pane fade" id="e2010">
       <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXNTUySmR3bTRmNlU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Андрей Панов</h4>
          <p class="list-group-item-text">Мороженое с точки зрения химика</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXaVY5RVl5R09PS0U&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28 " class="list-group-item">
          <h4 class="list-group-item-heading">Егор Задереев</h4>
          <p class="list-group-item-text">лекция  "Биосфера как система жизнеобеспечения или жизнь в бункере"</p>
          <p class="list-group-item-text">лекция "Тайны солёных озёр"</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUTVKVVFZTXlNMzQ&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Ксюша Малышевская</h4>
          <p class="list-group-item-text">Высшая нервная деятельность</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXOVY0XzhFOHprdnc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Люда Буракова</h4>
          <p class="list-group-item-text">лекция "Single nucleotide polymorphism"</p>
            </a>
             <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXVjkyem9ENTZyVGs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Максим Мусин</h4>
          <p class="list-group-item-text">Статистика</p>
            </a>
           <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXaXpOcmdLMHkwcTA&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Марго Меер</h4>
          <p class="list-group-item-text">Алкоголь</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="ob2013">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZ2s0cldXdThKSlk&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Борис Демешев</h4>
          <p class="list-group-item-text">Анализ данных</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXU2xiLTREOU5jR2c&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Герман Якоби</h4>
          <p class="list-group-item-text">Case study</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdXMxaDI5VXc0dU0&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Рома Капустин</h4>
          <p class="list-group-item-text">Официальное толкование флага КЛШ</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="ob2012">
       <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXRkE4VHJndEZmalk&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Борис Демешев</h4>
          <p class="list-group-item-text">Теория игр</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdWtXRWg2bDl5aTA&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Владимир Павлович</h4>
          <p class="list-group-item-text">НПЛ</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXQzNCbHdlTW5HUXM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Гера Якоби</h4>
          <p class="list-group-item-text">курс "Международное право"</p>
          <p class="list-group-item-text">курс "Следствие вели знатоки"</p>
          <p class="list-group-item-text">лекция "Преступность в России, в СФО и в Красноярском крае"</p>
            </a>
         <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXd2JJNVdvY2FsdlE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Рита Рудник</h4>
          <p class="list-group-item-text">Традиционные искусства Японии</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="ob2011">
      </div>
      <div class="tab-pane fade" id="ob2010">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXNnRwaVRma1hrSGs&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Алексей Савватеев</h4>
          <p class="list-group-item-text">Теория игр</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZ0NnRUkxejZNQjA&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Марина Голубицкая</h4>
          <p class="list-group-item-text">курс "Теория хаоса"</p>
          <p class="list-group-item-text">НПЛ "Принятие группового решения"</p>
          <p class="list-group-item-text">НПЛ "Методы исследования будущего"</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZXhnVmxOekUxMHc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Эд Хопкинс, Татьяна Корниенко</h4>
          <p class="list-group-item-text">курс "Economics of Happiness and Relative Concerns"</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="f2013">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUUwzaFJHQm52Sms&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Наташа Маркова</h4>
          <p class="list-group-item-text">Кинематографичность литературы</p>
           </a>
          </div>
      </div>
      <div class="tab-pane fade" id="f2012">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXa05ERC01OVBzd3c&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Кира Онипко</h4>
          <p class="list-group-item-text">лекция "Культура повседневности, или о чём может рассказать сливочное масло"</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXd3ctNjlHUmJkWTg&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Станислав Шарифуллин</h4>
          <p class="list-group-item-text">курс лекций</p>
           </a>
        </div>
      </div>
      <div class="tab-pane fade" id="f2011">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZGQ0M1dSTTUwTVE&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Кира Онипко</h4>
          <p class="list-group-item-text">Металитература</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXa1Nka1hBSlZ1M0E&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Люба Фельзингер</h4>
          <p class="list-group-item-text">язык Эсперанто</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXeDJTckVESDItNW8&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Настя Нечаева</h4>
          <p class="list-group-item-text">Современная русская поэзия</p>
            </a>
         <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXZzJjSVBad0o4UmM&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Олег Алтунин</h4>
          <p class="list-group-item-text">Анатомия публикации</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXdzMzMmRpbGhWT0U&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Ольга Кузнецова</h4>
          <p class="list-group-item-text">Из истории литературных чудачеств</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXN3ZZRERJREppbms&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Татьяна Воронцова</h4>
          <p class="list-group-item-text">НПЛ "Современная культура и национальный колорит: этника на экспорт"</p>
            </a>
          </div>
      </div>
      <div class="tab-pane fade" id="f2010">
        <div class="list-group">
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXOExuaElXaTNaSnc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Диана Казакова</h4>
          <p class="list-group-item-text">Актуальные проблемы современной лингвистики</p>
           </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXMzdXSGlfVU5ta0U&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Настя Нечаева</h4>
          <p class="list-group-item-text">песни на стихи Серебряного Века</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXUk1CUURsUUJrZlU&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Михаил Садовский</h4>
          <p class="list-group-item-text">факультатив "Фантастика как литература"</p>
            </a>
          <a href="https://drive.google.com/folderview?id=0B86noxSp3QsXYk92Z1VJQ2ZxaXc&usp=sharing_eil&tid=0B86noxSp3QsXZDZuUEZKVi0zX28" class="list-group-item">
          <h4 class="list-group-item-heading">Герман Якоби</h4>
          <p class="list-group-item-text">факультатив "Литература потерянного поколения"</p>
            </a>
          </div>
      </div>
    </div>
  </div>


<br>
<br>
<br>
<br>
<br>

<style type="text/css">
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

</style>

