<% provide(:title, 'FAQ') %>
<header class="intro-header" style="background-image: url('<%= asset_path("Untitled.jpg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>27 вопросов</h1>
                        <hr class="small">
                        <span class="subheading">о Красноярской летней школе </span>
                    </div>
                </div>
            </div>
        </div>
</header>

<br>
<div class="block1" >
<style type="text/css">
 .block1 { 
    width: 900px;  
    margin:0 auto;
   }
p {font-size:16px}
h4 {font-size:16px}
</style>
<p> 


<%= markdown(
'####**1. В какие сроки будет проходить КЛШ-2015?**  
Как и в предыдущие годы, КЛШ будет проходить на базе л/о Орбита, в третью смену. Это значит, что начнётся школа в один из дней в интервале с 15 по 17 июля, а закончится, соответственно,
5, 6 или 7 августа.   
<br>
####**2. Сколько стоит участие в КЛШ-2015?**  
В 2014 году стоимость участия для школьников из Красноярского края составила 8 500 рублей. В 2015 году сумма будет такой же либо очень близкой (но, к нашему сожалению, едва ли в меньшую
сторону).  
<br>
####**3. Как можно попасть в КЛШ?**  
Существует четыре основных пути поступления в КЛШ:

* можно выполнить в срок вступительное задание (его можно попросить прислать обычной почтой либо скачать с сайта летней школы в электронном виде);

* можно стать призёром Открытой зимней олимпиады КЛШ (она традиционно проводится во второе воскресенье декабря);

* можно стать призёром краевого этапа Всероссийской предметной олимпиады по соответствующему предмету (см. отдельно список этих предметов);

* можно, наконец, успешно пройти собеседование. Оно проводится в конце апреля.  

<br>
####**4. А какие ещё мероприятия в течении года проводятся?**  
Полный список мероприятий КЛШ, проводимых зимой, включает в себя:

* городской физико-математический биатлон (проводится в конце сентября);

* Открытую зимнюю олимпиаду (проводится во второе воскресенье декабря);

* собеседование (проводится в конце апреля), и, наконец,

* выездные интенсивы.  

<br>
####**5. А если я учусь в 8-м классе, мне можно попасть в КЛШ?**  
Да, можешь. Однако следует иметь в виду, что никаких скидок на возраст тебе при поступлении
делать не будут: ты будешь конкурировать на равных с 9-ти и 10-тиклассниками.  
<br>
####**6. А если я учусь в 7-м классе, мне можно попасть в КЛШ?**  
Да, такое бывает. Однако, как и для 8-классников, тебе не будет делаться никаких скидок. Кроме
того, оцени здраво свои силы: все остальные вокруг тебя всё же будут заметно постарше и тебе
придётся вести «взрослую» жизнь. Но если эти трудности тебя не пугают — пробуй! В КЛШ
достаточно часто бывали школьники (и школьницы), окончившие только семь классов и вполне
справлялись!  
<br>
####**7. Можно ли перейти с направления на направление уже там, в самой летней школе?**  
Нет. И мы даже не будем объяснять почему. Просто нет и имей это в виду. Однако, если ты
поступил на одно отделение, но учебная программа другого тебя также интересует, то у тебя
всегда остаётся возможность пойти на самый крутой факультатив того направления, на которое
тебе хочется.  
<br>
####**8. А почему нельзя пользоваться телефоном на территории КЛШ?**  
Телефон очень сильно мешает и нашей работе, и твоей учёбе. Летняя школа работает в режиме
(весьма глубокого) погружения — а для этого нужна изоляция от внешнего мира — и телефоны
ей крайне мешают.
Имей в виду: даже если ты возьмёшь телефон с собой, тебе придётся его сдать на хранение
в дирекцию. Даже если ты окажешься настолько передовым, что у тебя будет два телефона,
один из которых ты отдашь в дирекцию, а второй оставишь у себя, то всё равно ты наверняка
попадёшь в ситуацию, в которой тебе придётся объяснять, откуда у тебя телефон...  
К примеру, у всех телефонов садятся аккумуляторы; а розеток-то для включения зарядки в корпусах-то и
нету! А кроме того, в лагере Орбита очень и очень плохая связь: ты будешь вынужден выйти
в те два-три места, где телефон берёт сеть и тебя наверняка увидят и вожатые, и школьники.
Подумай, зачем тебе самостоятельно попадать в такую неловкую ситуацию...
Если тебе потребуется позвонить родителям, ты всегда сможешь это сделать, взяв свой телефон в дирекции либо позвонив с директорского телефона. Аналогично, родители всегда смогут
позвонить на директорский телефон и узнать, что у тебя всё в порядке (ну, или что у тебя есть
проблемы... ).  
<br>
####**9. А почему нельзя брать с собой ноутбук? Ведь он же нужен мне для дальнейшей усиленной учёбы...**  
Ноутбук совершенно не нужен для усиленной учёбы! Все наши занятия построены таким образом, что они не требуют ноутбуков от школьников; в тех случаях, когда они всё же нужны
(например, занятия по информатике либо программированию), летняя школа предоставит тебе таковые. Тем более, что почти наверняка для занятий потребуется специальное программное
обеспечение, которого у тебя на ноутбуке нет. А если есть, то могут оказаться большие проблемы
с совместимостью.
Кроме того, ноутбук — весьма ценный объект, требующий специальных забот по обеспечению
его сохранности. И лучший метод сохранить его в целости и сохранности — это не брать его в
летнюю школу.  
<br>
####**10. А можно, я возьму фотоаппарат? А видеокамеру?**  
Фотоаппарат — не просто можно, а даже и нужно! А вот видеокамеру не просто не нужно, но и
прямо-таки нельзя!  
Во-первых, в отношении видеокамеры справедливы все те же соображения,
что и про ноутбук, связанные с сохранностью; только она ещё меньше и поэтому заметно легче
пропадает. А во-вторых (и в самых главных), действующее законодательство запрещает видео
съёмку произвольных людей без их на то письменного согласия.  
В случае съёмок несовершеннолетних такое письменное согласие должны давать их родители либо законные представители;
мы более чем уверены, что нету у тебя таких согласий.
А кроме того, положа руку на сердце, едва ли ты такой уж мастер видеопроизводства. Согласись, показывать потом кому-нибудь эту запись может и вовсе не придётся...  
<br>
####**11. А когда ко мне могут приехать гости в КЛШ?**  
Никогда. Гости к школьникам (и школьницам) в летнюю школу не ездят; к школьникам и школьницам могут приехать лишь родители.  
<br>
####**12. Ну хорошо, а родители-то когда могут приехать?**  
Теоретически — в любой момент, с 10 до 14 часов. Дело в том, что лагерь Орбита имеет свои
внутренние правила, по которым посещение родителями школьников разрешается только с 10
утра до 14 часов дня.
Кроме того, им следует иметь в виду, что ваша встреча может состояться лишь «на главной
арке»: то бишь, около ворот, в которые заезжали автобусы. Для того, чтобы ваша встреча состоялась, необходимо тебя где-то на территории лагеря найти и сообщить тебе об этом. А лагерь
большой. Кроме того, встреча не может состояться во время занятий и иных мероприятий, включённых в календарный план и являющихся обязательными для посещения (факультативы, КНТ
и многое другое). Поэтому весьма возможно им придётся довольно долго ждать тебя. Лучше всего твоим родителям согласовать свой приезд к тебе заранее с дирекцией, по одному из телефонов,
которые публикуются на общем собрании.  
<br>
####**13. Но те, кто был в летней школе, говорят, что родителей свободно пускают в лагерь.**  
Они говорят почти правду.  
Вся правда состоит в том, что их (а также бабушек, дедушек и племянников со свояченницами;
не говоря уже про деверей и свёкров) свободно пускают лишь в один единственный день: это
день открытых дверей и он случается в самый последний полноценный рабочий день летней
школы (накануне отъезда). Да, в этот день приезжайте, смотрите! И нам будет чем гордиться —
наши ученики добились таких успехов, и вам, дорогие родители — это же ваши дети всё это
сделали! Конкретную дату вы легко узнаете из календарного плана, который увидите в день
общего собрания перед началом летней школы.  
<br>
####**14. Какие документы нужны для поездки в КЛШ?**  
Для поездки в КЛШ тебе обязательно потребуются следующие документы:

* копия паспорта (либо свидетельства о рождении);

* копия полиса обязательного медицинского страхования;

* медицинская справка по установленной форме; имей в виду, что такая справка является
действительной не очень долгое время — если ты получишь её в начале июня, то она уже
не будет действительной к моменту заезда в летнюю школу.

Помни, что лагерь Орбита принадлежит закрытому административно-территориальному образованию г.Железногорск и отсутствие всех необходимых документов очень сильно осложнит
жизнь и нам, и тебе (если тебе, например, вдруг понадобится медицинская помощь, которую
можно получить лишь в больнице). А без медицинской справки ты вообще не сможешь поехать
в летнюю школу. Увы! Это не наша прихоть, это требование федерального законодательства...  
<br>
####**15. Я получил извещение о том, что я попал(а) в резерв. Насколько вероятно моё попадание в КЛШ?**  
Достаточно вероятно твоё попадание. Конечно, год на год не приходится, но в целом всегда есть
шансы. Если ты попал в резерв и точно решил поехать в другую школу (либо на Канарские
острова или санаторий «Ласточка»), обязательно извести нас о том, что ты принял решение не
ехать в КЛШ. Напротив, если ты всё ещё стремишься в КЛШ, напомни о себе (что ты стоишь в
резерве) недели за две до отъезда: это повысит твои шансы.  
<br>
####**16. У меня есть знакомый(ая), который тоже хочет поехать в КЛШ. Как ему это сделать?**  
Порекомендуй ему (или ей) посмотреть на п.3 и выбрать тот вариант, который ему (ей) более
всего подходит (например, если время для выполнения заочного вступительного задания уже
упущено, то остаётся шанс с собеседованием).  
<br>
####**17. А КЛШ даёт какую-нибудь бумагу, которая потом помогает поступить в ВУЗ без экзаменов?**
Нет. Никогда не давала и не будет давать. За нас говорит наша история: из числа выпускников
КЛШ ежегодно от пяти до десяти человек поступают в МФТИ, до пяти человек — в МГУ, примерно столько же — в СПбГУ и НГУ. От пяти до  
(в некоторые года) двадцати человек поступают
в ВШЭ; очень многие выпускники КЛШ становятся студентами СФУ и КГМУ. Впрочем, список
ВУЗов, в которые успешно поступали выпускники КЛШ, весьма велик.  
<br>
####**18. А за что могут из КЛШ отчислить и отправить домой?**  
Хороший вопрос! Если ты всерьёз этим интересуешься, значит, ты всерьёз решил ехать в КЛШ!
Поздравляем! А отчислить могут за злостное нарушение распорядка дня и календарного плана.
Причинами безусловного и мгновенного отчисления — с соответствующими душеспасительными
беседами с родителями — являются курение, употребление алкогольных напитков, неинтеллигентное поведение после отбоя, пропуски занятий.  
<br>
####**19. Меня зачислили, и моего друга (мою подругу) тоже. И мы сильно хотим попасть в одну команду. Это**
####**как можно сделать?**  
Никак. Зачем вам это? Никто не запрещает вам видеться и общаться в свободное от занятий и
прочих плановых мероприятий время. Вы оба приобретёте новых друзей (и подруг), а старые
друзья (и подруги) и так останутся с вами. А кроме того, состав команд определяется многими факторами: например, нам важно, чтобы в команде были представлены школьники всех
направлений. Поэтому вот так произвольно взять и поменять состав команды (да ещё и двух!)
совершенно невозможно.  
<br>
####**20. А чего с собой лучше брать в КЛШ? Ручку, тетрадку, а ещё чего?**  
Ручек лучше взять несколько: они имеют тенденцию теряться и забываться в самых разных
местах. Обязательно возьми спортивную одежду и обувь! Они тебе наверняка понадобятся. Не
забудь также зонтик и одежду (с соответствующей обувью) на случай дождя. В лагере есть возможность просушить одежду, но нет возможности её стирать. Тетрадок тоже имеет смысл взять
несколько: ты будешь посещать три учебных курса (или даже больше), а также факультатив.  
Весьма возможно, что ты выберешь такой факультатив, на котором вы будете делать стендовый доклад по окончании курса. Тебе сильно поможет в этом случае свой запас карандашей и
других канцелярских принадлежностей, а также набор цветных фломастеров.  
<br>
####**21. У меня уже есть приглашение в КЛШ (я победил(а) в открытой Олимпиаде КЛШ), что мне ещё надо**
####**сделать?**  
Тебе надо написать письмо в дирекцию во второй половине февраля, в котором ты подтверждаешь свою поездку в КЛШ (либо отказываешься от неё). Пожалуйста, не забудь это сделать!  
<br>
####**22. У меня уже есть приглашение в КЛШ (я победил(а) в краевой олимпиаде Минобразования), что мне**
####**ещё надо сделать?**
См. пункт 21.  
<br>
####**23. У меня уже есть приглашение в КЛШ (я победил(а) в городском биатлоне КЛШ), что мне ещё надо**
####**сделать?**  
См. пункт 21.  
<br>
####**24. А у меня нету вступительного задания. А где его можно взять?**  
Его можно взять на сайте КЛШ www.klsh.ru; а заодно спроси-ка ты у своих учителей — не
подскажут ли они, где взять задание?  
<br>
####**25. Мы с родителями едем в отпуск к пингвинам в Антарктиду и вернёмся оттуда через три дня после**
####**начала КЛШ. Я смогу приехать в школу позже?**  
Да, но никак не больше. Программа школы чрезвычайно насыщена и ты сильно рискуешь потом
просто не догнать её. Не опаздывай!  
<br>
####**26. Мы с родителями уезжаем в отпуск к полярным медведям на реку Святого Лаврентия; и билеты такие,**
####**что я вынужден(а) уехать раньше из КЛШ. Это возможно?**  
Такое бывает в жизни. Да, уехать (незадолго) до окончания срока летней школы можно, однако
при этом ты теряешь так много, что мы даже не можем этого описать: последние дни — самые
важные и насыщенные. Пропуская даже три последних дня, ты теряешь половину школы или
больше!  
<br>
####**27. У меня есть специфические ограничения по здоровью. Мне не помешает это учиться в КЛШ?**  
Нет, не помешает. Однако в том случае, если у тебя имеются медицинские противопоказания к тем
или иным видам деятельности (например, тебе нельзя спать по ночам и принимать пищу днём),
обязательно сообщи об этом своему вожатому (на общем собрании); если твоё здоровье требует
приёма каких-нибудь специальных лекарственных средств — обязательно возьми их с собой в
достаточном объёме: в лагере вполне может не оказаться таких специализированных лекарств.
Не стесняйся и обязательно скажи о возможных проблемах с твоим здоровьем своему вожатому
ещё до заезда в КЛШ: такая ложная скромность может обернуться серьёзными проблемами в
школе. Зачем тебе проблемы на пустом месте? Да и нам тоже будет легче организовывать работу
летней школы...  
<br>
') %>
</p>
</div>