
<div class="jumbotron">
  <h1>Закрытый клуб сотрудников</h1>
  <p>Добро пожаловать! Вы попали на главную страницу закрытого
   клуба сотрудников Красноярской летней школы. Этот ресурс 
   создан для того, чтобы облегчить работу и повысить эффективность
   подготовки к предстоящим сезонам, собрать статистику, имеющую
   отношение школе и обеспечить архив всех внутренних летнешкольных
   документов.
  </p>
  <p>
    <%= link_to "Правила клуба", base_rules_path, class: "btn btn-primary btn-lg btn-green"%> 
  </p>
</div>
<div class="container-fluid">
<article>
  <h2> На текущий момент </h2>
	<p>
	Сейчас клуб работает в самом первом и малофункциональном режиме.
	Работают три вещи:
	<ul>
	  <li> Страница со ссылками и описаниями всех google-доков и прочих
	  	вспомогательных ресурсов
	  </li>
	  <li>
	  	Страница с рекомедованными слонами
	  </li>
	  <li>
	  	Bug report. Страница, где вы можете пожаловаться на ошибки работы
	  	сайта, указать на недостатки или внести новые предложения.
	  </li>

	</ul>
	Пожалуйста, наполняйте их.
	</p>

  <h2>Что дальше?</h2>
  	<p> 
  	У нас очень амбициозные планы, но в первую очередь мы хотим
  	<ul>
	  <li> Добавить базу задач
	  </li>
	  <li>
	  	Наполнить тэгами и возможностью поиска по ним страницы
	  	со слонами и задачами
	  </li>
	  <li> Организовать базу курсов
	  </li>
	  <li>
	  	Перевести весь контент на version contorl
	  </li>
	</ul>
	  
  <h2>Как нам помочь</h2>
  <p>Будьте активны, наполняйте ресурс контентом. Мы стараемся собрать и
  классифицировать всю информацию, касающуюся КЛШ. Мы бы хотели, чтобы у 
  КЛШ появилась написанная история, статистика всего чего угодно, информация
  о всех людях когда-либо учавствоваших в школе и пр. Без вас мы никогда не
  справимся.</p>

  <h2>Обратная связь </h2>
  <p>dontwritehim@gmail.com &mdash; Кирилл Павленко </p>
  <p>yasno.net@gmail.com &mdash; Алексей Миронов </p>
	  
	
  	</p>	
</article>

<div class="container-fluid">