<div class="container-fluid">
<article>


<h1> Правила клуба</h1>
  <p> Закрытый клуб сотрудников &mdash; раздел сайта КЛШ, предназаначенный 
      для решения большого количества задач. На этой страничке содержится 
      небольшой свод правил-рекомендаций по использованию клуба. Большая
      часть нижеприведенных соображений вполне очевидна, но, тем не менее, 
      мы рекомендуем с ними ознакомиться.
  </p>
  <ul>
    <li>
      Любая информация, находящаяся здесь является и должна оставаться
      недоступной для посторонних.
    </li>
    <li>
      Внося какую-то информацию, старайтесь избегать повторений. Также
      следите за тем, чтобы вносимая вами информация отображалась корректно.
    </li>
    <li>
      Добавляя информацию, пожалуйста, подписывайтесь. Система позволяет 
      вам оставаться анонимным при (почти) любых ваших действиях. Тем не 
      менее, во избежание разногласий мы настоятельно рекоммендуем вам
      указывать имя при создании записей.
    </li>
    <li>
      На этом ресурсе нет модераторов или привилегированных пользователей.
      Каждый может внести сколько угодно информации, отредактировать чужие
      записи или вовсе удалить. Будьте осторожны. 
    </li>
    <li>
      Если вы заметили какую-либо ошибку в чужой записи (неработающую 
      ссылку, неправильную орфографию, что угодно) &mdash; отредактируйте
      запись, пожалуйста.
    </li>


  </ul>
</article>
</div>