<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
 
<p>
  <strong>Link:</strong>
  <%= @article.link %>
</p>

<p>
  <strong>quote:</strong>
  <%= @article.quote %>
</p>

<%= link_to 'Back', articles_path %>