<p>
  <strong>Commenter:</strong>
  <%= comment2.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment2.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment2.elephant, comment2],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>