

<div class = "bs-callout bs-callout-info">
    <h4><%= comment2.commenter%> </h4>
    <p> <%= markdown(comment2.body) %></p>
    <p align="right">
  			<%= link_to 'Удалить комментарий', [comment2.elephant, comment2],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
</div>
