<h1>Listing elephants</h1>
<div class="elephants" id="elephants">
<%= link_to 'New elephant', new_elephant_path, id: "new_elephant", remote: true %> 
<table>
  <tr>
    <th>Name</th>
    <th>link</th>
    <th>Title</th>
    <th>Department</th>
    <th>Description</th>

    <th colspan="2"></th>
  </tr>
  <div id = "elephants"> 
    <%= render @elephants %>
  </div>
</table>

</div>