<div class="container-fluid">
<h1>Слоны</h1>
<p>
Здесь мы пополяем списки потенциальных слонов для следующих сезонов.
</p>

<%= link_to 'Добавить', new_elephant_path, class: "btn btn-success btn-green", id: "new_elephant", remote: true %> 

<div class="elephants" id="elephants">
    <%= render @elephants %>
</div>


</div>