

  <div class="col-sm-3">
    <br>
    <h3>Наши мероприятия</h3>
    <ul class="nav nav-pills nav-stacked">    
      
    <li><%= link_to "Физмат биатлон, 12 сентября",
      toklsh_path(anchor:"биатлон"), :class => "rred"  %> </li>
    
    <li><%= link_to "Олимпиада КЛШ, 20 декабря",
        toklsh_path(anchor:"олимпиада"), :class => "rred"  %> </li>

    <li><%= link_to "Вступительное задание, до 5 февраля",
        toklsh_path(anchor:"вступзад"), :class => "rred"  %> </li>
    
    <li><%= link_to "Собеседование в КЛШ, 20 мая",
        toklsh_path(anchor:"собеседование"), :class => "rred"  %> </li> 
    </ul>
  </div>
