<hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-7">
    <div class="footer">
        &copy; 2014, Красноярская летняя школа <br />
        Сайт разработан и поддерживается <a href="#">парой друзей</a>
    </div>
  </div>
  <div class="col-md-2">
  	<div class="footer">
  	  <%= link_to "Контакты", contacts_path%>  	   
  	  <a href="http://vk.com/klsh_ru" class="social-vk">
  	    <img src="<%= asset_path("social/vk.jpg")%>" width="32" height="32"
  	  </a>

  	</div>
  </div>
</div>
