
  <div class="col-md-3">
    <br>
    <h3>Большое вкусное меню</h3>
    <ul class="nav nav-pills nav-stacked">    
      
    <li><%= link_to "Усы Садовского, с чем их едят",
      about_path(anchor:"1"), :class => "rred"  %> </li>
    
    <li><%= link_to "Самые знаменитые доширакоеды",
        about_path(anchor:"2"), :class => "rred"  %> </li>

    <li><%= link_to "Лысина Антона, как перед ней устоять?",
        about_path(anchor:"3"), :class => "rred"  %> </li>
    
    <li><%= link_to "Остальное",
        about_path(anchor:"4"), :class => "rred"  %> </li> 
    </ul>
  </div>
